@import "../../assets//stylesheets/variable.scss";

.headerMainContainer {
  font-size: $font-size-sm;
  background-color: $primary-color;
  font-weight: 600;
  color: $white;
  box-shadow: 0px 0px 4px 2px $med-gray;
  .headerContainer {
    display: flex;
    justify-content: space-between;
    padding: $space-md + 5;
    .logoContainer {
      img {
        width: 42px;
      }
    }
    .headerRight {
      display: flex;
      align-items: center;
      list-style: none;
      li {
        margin-right: $space-lg;
        a {
          text-decoration: none;
          font-weight: 600;
          color: $white;
        }
      }
    }
    .headerItem {
      margin-right: $space-lg;
    }
  }
}
